.box{
    width: 500px;
    background-image: linear-gradient(rgb(250, 21, 60),blue,purple);
    font-family: sans-serif;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}
h1{
    color: rgb(184, 184, 62);
}
h2{
    color: white;
}
h3{
    color: rgb(184, 184, 62);
}
body{
    background-color: rgb(253, 252, 253);
}
.input{
    height: 50px;
    outline: none;
    border-radius: 15px;
    width: 350px;
    background-color: transparent;
    color: white;
    font-size: 30px;
}
.btn{
    height: 40px;
    width: 100px;
    color: red;
    background-color: black;
}